version: "3.9"

services:
  
  backend:
    build: ./backend
    container_name: backend
    restart: always
    volumes:
      - ./backend/uploads:/app/uploads  # store profile pictures
    environment:
      - PORT=5000
      - MONGO_URI=mongodb+srv://admin:admin@cluster0.md0sx7e.mongodb.net/comp3123_assigment1?retryWrites=true&w=majority&appName=cluster0
      - JWT_SECRET=secretkey123
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:80"  # React served via nginx
    depends_on:
      - backend
    networks:
      - app-network
    
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/build:/usr/share/nginx/html
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
